openapi: 3.1.0
info:
  title: ABAIR Synthesis API (unofficial)
  version: "1"
  summary: Irish-language text-to-speech via abair.ie
  description: |
    Reverse-engineered OpenAPI spec for the abair.ie speech synthesis endpoint
    used by the public web demo at <https://abair.ie/synthesis>.

    This API is **undocumented by the publisher** but stable. Three Irish
    dialects (Connacht / Munster / Ulster) and two engine families (Piper
    neural, HTS statistical) are exposed via voice IDs of the form
    `ga_<DIALECT>_<VOICE>_<ENGINE>`.

    For commercial use, contact ABAIR via <https://abair.ie/contact>.
  contact:
    name: ABAIR (Trinity College Dublin)
    url: https://abair.ie/contact
  license:
    name: Non-commercial research and educational use (default)
    url: https://abair.ie/about

servers:
  - url: https://synthesis.abair.ie
    description: Production

paths:
  /api/synthesise:
    get:
      operationId: synthesise
      summary: Synthesise Irish speech from text
      description: |
        Returns a JSON envelope containing a base64-encoded WAV (16-bit mono
        PCM at 22050 Hz), the IPA-style phoneme breakdown for the input, and
        the dictionary lookups that informed the pronunciation.
      parameters:
        - name: input
          in: query
          required: true
          description: Irish text to synthesise. URL-encoded.
          schema:
            type: string
            example: "conas atá tú"
        - name: voice
          in: query
          required: true
          description: Voice ID. Pattern is `ga_<DIALECT>_<VOICE>_<ENGINE>`.
          schema:
            type: string
            enum:
              - ga_CO_snc_piper
              - ga_CO_snc_exthts
              - ga_CO_pmc_exthts
              - ga_MU_nnc_piper
              - ga_MU_nnc_exthts
              - ga_MU_cmg_piper
              - ga_MU_dms_piper
              - ga_MU_ar_fnm_piper
              - ga_UL_anb_piper
              - ga_UL_anb_exthts
              - ga_UL_doc_piper
            example: ga_CO_snc_piper
        - name: normalise
          in: query
          required: false
          description: Apply text normalisation pre-synthesis (numbers, abbreviations).
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: Successful synthesis
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SynthesisResult"
              examples:
                conas:
                  summary: Connacht / Sibéal / Piper for "conas atá tú"
                  value:
                    audioContent: "UklGRiS4AABXQVZFZm10IBAAAAABAAEAIlYAAESsAAACABAA..."
                    phonemes: ["1 k o . 0 nn @ s", "0 @ . 1 t aa", "1 t uu"]
                    origins: ["res/dictionaries/ga_CM/lexicon_conamara.txt++"]

components:
  schemas:
    SynthesisResult:
      type: object
      required: [audioContent, phonemes, origins]
      properties:
        audioContent:
          type: string
          format: byte
          description: Base64-encoded WAV (RIFF, 16-bit mono PCM, 22050 Hz).
        phonemes:
          type: array
          items:
            type: string
          description: |
            IPA-style phoneme breakdown per word. Numeric prefixes are stress
            markers (1=primary, 0=unstressed). `.` separates syllables.
          example: ["1 k o . 0 nn @ s"]
        origins:
          type: array
          items:
            type: string
          description: Dictionary lookup paths used to resolve each word's pronunciation.
          example: ["res/dictionaries/ga_CM/lexicon_conamara.txt++"]
