openapi: 3.1.0
info:
  title: ABAIR Recognition API (unofficial)
  version: "v3-5"
  summary: Irish-language speech-to-text via abair.ie
  description: |
    Reverse-engineered OpenAPI spec for the abair.ie speech recognition endpoint
    used by the public web demo at <https://abair.ie/recognition>.

    This API is **undocumented by the publisher** but stable enough to use in
    production for non-commercial work. The version segment (`/v3-5/`) suggests
    Trinity College Dublin maintains explicit version compatibility across
    releases of their ABAIR-ÉIST and Fotheidil models.

    Backend evidence: 422 responses follow the FastAPI / Pydantic error shape
    (`{detail: [{type, loc, msg, input}]}`).

    For commercial use, contact ABAIR via <https://abair.ie/contact>.
  contact:
    name: ABAIR (Trinity College Dublin)
    url: https://abair.ie/contact
  license:
    name: Non-commercial research and educational use (default)
    url: https://abair.ie/about

servers:
  - url: https://recognition.abair.ie
    description: Production

paths:
  /v3-5/transcribe:
    post:
      operationId: transcribe
      summary: Transcribe Irish speech to text
      description: |
        Accepts an audio file (WAV PCM, WebM/Opus, MP3) and returns the
        transcribed text. The server applies Irish-specific capitalisation
        and punctuation when it can; the `captpunct_applied` flag in the
        response indicates whether that pass succeeded.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Audio file. WebM/Opus from MediaRecorder works directly.
            encoding:
              file:
                contentType: audio/wav, audio/webm, audio/ogg, audio/mpeg
      responses:
        "200":
          description: Successful transcription
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptionResult"
              examples:
                cailleach:
                  summary: Round-trip from /ro:tts-abair "Failte go hInis Sligigh, a chara!"
                  value:
                    text: "fáilte go hinis sligigh a chara"
                    captpunct_applied: false
                conas:
                  summary: From the abair.ie web demo
                  value:
                    text: "Conas atá tú?"
                    captpunct_applied: true
        "422":
          description: Validation error (e.g. missing file field)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PydanticError"
              examples:
                missingFile:
                  value:
                    detail:
                      - type: missing
                        loc: [body, file]
                        msg: Field required
                        input: null

components:
  schemas:
    TranscriptionResult:
      type: object
      required: [text, captpunct_applied]
      properties:
        text:
          type: string
          description: Transcribed Irish text. May or may not be punctuated/capitalised; see captpunct_applied.
          example: "fáilte go hinis sligigh a chara"
        captpunct_applied:
          type: boolean
          description: True if the server's capitalisation + punctuation pass ran successfully.
          example: false
    PydanticError:
      type: object
      required: [detail]
      properties:
        detail:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              loc:
                type: array
                items:
                  type: string
              msg:
                type: string
              input:
                nullable: true
